<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AirPortGlobalDebug</key>
	<integer>0</integer>
	<key>AirPortUserLandDebug</key>
	<integer>0</integer>
	<key>AutoHotspotMode</key>
	<string>Never</string>
	<key>AwdlDebugFlags</key>
	<integer>0</integer>
	<key>CoreCaptureDebugFlags</key>
	<integer>0</integer>
	<key>Counter</key>
	<integer>4</integer>
	<key>DeviceUUID</key>
	<string>16965ECB-2710-4045-8DF7-DBFAF30AF444</string>
	<key>KnownNetworks</key>
	<dict/>
	<key>PreferredOrder</key>
	<array/>
	<key>UpdateHistory</key>
	<array>
		<dict>
			<key>Previous</key>
			<dict/>
			<key>Timestamp</key>
			<date>2020-01-27T00:05:19Z</date>
		</dict>
		<dict>
			<key>Previous</key>
			<dict>
				<key>KnownNetworks</key>
				<dict>
					<key>wifi.ssid.&lt;4d795370 65637472 756d5769 46693234 2d32472d 47756573 74&gt;</key>
					<dict>
						<key>AutoLogin</key>
						<false/>
						<key>Captive</key>
						<false/>
						<key>ChannelHistory</key>
						<array/>
						<key>Closed</key>
						<false/>
						<key>CollocatedGroup</key>
						<array/>
						<key>Disabled</key>
						<false/>
						<key>Passpoint</key>
						<false/>
						<key>PersonalHotspot</key>
						<false/>
						<key>PossiblyHiddenNetwork</key>
						<false/>
						<key>RoamingProfileType</key>
						<string>None</string>
						<key>SPRoaming</key>
						<false/>
						<key>SSID</key>
						<data>TXlTcGVjdHJ1bVdpRmkyNC0yRy1HdWVzdA==</data>
						<key>SSIDString</key>
						<string>MySpectrumWiFi24-2G-Guest</string>
						<key>SecurityType</key>
						<string>WPA2 Personal</string>
						<key>SystemMode</key>
						<true/>
						<key>TemporarilyDisabled</key>
						<false/>
					</dict>
					<key>wifi.ssid.&lt;4d795370 65637472 756d5769 46693234 2d3247&gt;</key>
					<dict>
						<key>AutoLogin</key>
						<false/>
						<key>Captive</key>
						<false/>
						<key>ChannelHistory</key>
						<array/>
						<key>Closed</key>
						<false/>
						<key>CollocatedGroup</key>
						<array/>
						<key>Disabled</key>
						<false/>
						<key>Passpoint</key>
						<false/>
						<key>PersonalHotspot</key>
						<false/>
						<key>PossiblyHiddenNetwork</key>
						<false/>
						<key>RoamingProfileType</key>
						<string>None</string>
						<key>SPRoaming</key>
						<false/>
						<key>SSID</key>
						<data>TXlTcGVjdHJ1bVdpRmkyNC0yRw==</data>
						<key>SSIDString</key>
						<string>MySpectrumWiFi24-2G</string>
						<key>SecurityType</key>
						<string>WPA2 Personal</string>
						<key>SystemMode</key>
						<true/>
						<key>TemporarilyDisabled</key>
						<false/>
					</dict>
					<key>wifi.ssid.&lt;4d795370 65637472 756d5769 46693234 2d35472d 47756573 74&gt;</key>
					<dict>
						<key>AutoLogin</key>
						<false/>
						<key>Captive</key>
						<false/>
						<key>ChannelHistory</key>
						<array/>
						<key>Closed</key>
						<false/>
						<key>CollocatedGroup</key>
						<array/>
						<key>Disabled</key>
						<false/>
						<key>Passpoint</key>
						<false/>
						<key>PersonalHotspot</key>
						<false/>
						<key>PossiblyHiddenNetwork</key>
						<false/>
						<key>RoamingProfileType</key>
						<string>None</string>
						<key>SPRoaming</key>
						<false/>
						<key>SSID</key>
						<data>TXlTcGVjdHJ1bVdpRmkyNC01Ry1HdWVzdA==</data>
						<key>SSIDString</key>
						<string>MySpectrumWiFi24-5G-Guest</string>
						<key>SecurityType</key>
						<string>WPA2 Personal</string>
						<key>SystemMode</key>
						<true/>
						<key>TemporarilyDisabled</key>
						<false/>
					</dict>
					<key>wifi.ssid.&lt;4d795370 65637472 756d5769 46693234 2d3547&gt;</key>
					<dict>
						<key>AutoLogin</key>
						<false/>
						<key>Captive</key>
						<false/>
						<key>ChannelHistory</key>
						<array>
							<dict>
								<key>Channel</key>
								<integer>48</integer>
								<key>Timestamp</key>
								<date>2020-01-30T05:06:41Z</date>
							</dict>
						</array>
						<key>Closed</key>
						<false/>
						<key>CollocatedGroup</key>
						<array/>
						<key>Disabled</key>
						<false/>
						<key>LastConnected</key>
						<date>2020-01-30T05:06:41Z</date>
						<key>Passpoint</key>
						<false/>
						<key>PersonalHotspot</key>
						<false/>
						<key>PossiblyHiddenNetwork</key>
						<false/>
						<key>RoamingProfileType</key>
						<string>Single</string>
						<key>SPRoaming</key>
						<false/>
						<key>SSID</key>
						<data>TXlTcGVjdHJ1bVdpRmkyNC01Rw==</data>
						<key>SSIDString</key>
						<string>MySpectrumWiFi24-5G</string>
						<key>SecurityType</key>
						<string>WPA2 Personal</string>
						<key>SystemMode</key>
						<true/>
						<key>TemporarilyDisabled</key>
						<false/>
					</dict>
					<key>wifi.ssid.&lt;57694669 20426173 6963&gt;</key>
					<dict>
						<key>AutoLogin</key>
						<false/>
						<key>Captive</key>
						<false/>
						<key>ChannelHistory</key>
						<array/>
						<key>Closed</key>
						<false/>
						<key>CollocatedGroup</key>
						<array/>
						<key>Disabled</key>
						<false/>
						<key>Passpoint</key>
						<false/>
						<key>PersonalHotspot</key>
						<false/>
						<key>PossiblyHiddenNetwork</key>
						<false/>
						<key>RoamingProfileType</key>
						<string>None</string>
						<key>SPRoaming</key>
						<false/>
						<key>SSID</key>
						<data>V2lGaSBCYXNpYw==</data>
						<key>SSIDString</key>
						<string>WiFi Basic</string>
						<key>SecurityType</key>
						<string>WPA2 Personal</string>
						<key>SystemMode</key>
						<true/>
						<key>TemporarilyDisabled</key>
						<false/>
					</dict>
					<key>wifi.ssid.&lt;6974656b 2d526f75 74657233&gt;</key>
					<dict>
						<key>AutoLogin</key>
						<false/>
						<key>Captive</key>
						<false/>
						<key>ChannelHistory</key>
						<array/>
						<key>Closed</key>
						<false/>
						<key>CollocatedGroup</key>
						<array/>
						<key>Disabled</key>
						<false/>
						<key>Passpoint</key>
						<false/>
						<key>PersonalHotspot</key>
						<false/>
						<key>PossiblyHiddenNetwork</key>
						<false/>
						<key>RoamingProfileType</key>
						<string>None</string>
						<key>SPRoaming</key>
						<false/>
						<key>SSID</key>
						<data>aXRlay1Sb3V0ZXIz</data>
						<key>SSIDString</key>
						<string>itek-Router3</string>
						<key>SecurityType</key>
						<string>WPA2 Personal</string>
						<key>SystemMode</key>
						<true/>
						<key>TemporarilyDisabled</key>
						<false/>
					</dict>
					<key>wifi.ssid.&lt;6974656b 2d526f75 746572&gt;</key>
					<dict>
						<key>AutoLogin</key>
						<false/>
						<key>Captive</key>
						<false/>
						<key>ChannelHistory</key>
						<array/>
						<key>Closed</key>
						<false/>
						<key>CollocatedGroup</key>
						<array/>
						<key>Disabled</key>
						<false/>
						<key>Passpoint</key>
						<false/>
						<key>PersonalHotspot</key>
						<false/>
						<key>PossiblyHiddenNetwork</key>
						<false/>
						<key>RoamingProfileType</key>
						<string>None</string>
						<key>SPRoaming</key>
						<false/>
						<key>SSID</key>
						<data>aXRlay1Sb3V0ZXI=</data>
						<key>SSIDString</key>
						<string>itek-Router</string>
						<key>SecurityType</key>
						<string>WPA2 Personal</string>
						<key>SystemMode</key>
						<true/>
						<key>TemporarilyDisabled</key>
						<false/>
					</dict>
				</dict>
				<key>PreferredOrder</key>
				<array>
					<string>wifi.ssid.&lt;4d795370 65637472 756d5769 46693234 2d3547&gt;</string>
					<string>wifi.ssid.&lt;6974656b 2d526f75 746572&gt;</string>
					<string>wifi.ssid.&lt;4d795370 65637472 756d5769 46693234 2d35472d 47756573 74&gt;</string>
					<string>wifi.ssid.&lt;4d795370 65637472 756d5769 46693234 2d32472d 47756573 74&gt;</string>
					<string>wifi.ssid.&lt;4d795370 65637472 756d5769 46693234 2d3247&gt;</string>
					<string>wifi.ssid.&lt;6974656b 2d526f75 74657233&gt;</string>
					<string>wifi.ssid.&lt;57694669 20426173 6963&gt;</string>
				</array>
				<key>Version</key>
				<integer>2200</integer>
			</dict>
			<key>Timestamp</key>
			<date>2020-01-30T09:06:09Z</date>
		</dict>
	</array>
	<key>Version</key>
	<integer>2600</integer>
</dict>
</plist>
